#menu{
    -fx-background-color: #08899d;
    -fx-text-background-color: #bcb74d;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-weight: bold;

}
#btnSelectedTrain{

        -fx-background-color: #284fbd;
        -fx-text-fill:#ffffff;
        -fx-font-family: "Blippo, fantasy";
        -fx-font-size: 14px;
        -fx-font-weight: bold;

}

#btnSelectedCar{

        -fx-background-color: #284fbd;
        -fx-text-fill:#ffffff;
        -fx-font-family: "Blippo, fantasy";
        -fx-font-size: 14px;
        -fx-font-weight: bold;

}

#chBoxTrainNumber {

        -fx-background-color: #f6f3d3;
        -fx-text-fill:#404e61;
        -fx-font-family: "Apple Chancery";
        -fx-font-size: 14px;
        -fx-font-style: oblique;

}
#chBoxTrainClass {

        -fx-background-color: #f6f3d3;
        -fx-text-fill:#404e61;
        -fx-font-family: "Apple Chancery";
        -fx-font-size: 14px;
        -fx-font-style: oblique;

}

#btnChoose {

        -fx-background-color: #6495ED;
        -fx-text-fill: #DC143C;
        -fx-font-family: "Blippo, fantasy";
        -fx-font-size: 16px;
        -fx-font-weight: bold;

}

#btnShoppingCart {

            -fx-background-color: #FAFAD2;
            -fx-text-fill: #5F9EA0;
            -fx-font-family: "Segoe UI Bold";
            -fx-font-size: 14px;
            -fx-font-weight: bold;

}

#mniMavHu {

            -fx-background-color: #FF0000;
            -fx-text-fill: #FFFFFF;
            -fx-font-family: "Segoe UI Bold";
            -fx-font-size: 14px;
            -fx-font-weight: bold;
}

#mniObbHu: {
            -fx-background: -fx-accent;
            -fx-background-color: #FFF-FFF;
            -fx-text-fill: #000080;
            -fx-font-family: "Segoe UI Bold";
            -fx-font-size: 14px;
            -fx-font-weight: bold;

}

#mniDbHun {
}

#mniSbbHun {
}

#mniMavDe {
}

#mniObbDe {
}

#mniDbDe {
}

#miniSbbDe {
}