#menu{
    -fx-background-color: #08899d;
    -fx-text-background-color: #bcb74d;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-weight: bold;

}
#btnSelectedTrain{

        -fx-background-color: #284fbd;
        -fx-text-fill:#ffffff;
        -fx-font-family: "Blippo, fantasy";
        -fx-font-size: 14px;
        -fx-font-weight: bold;

}

#btnSelectedCar{

        -fx-background-color: #284fbd;
        -fx-text-fill:#ffffff;
        -fx-font-family: "Blippo, fantasy";
        -fx-font-size: 14px;
        -fx-font-weight: bold;

}

#chBoxTrainNumber {

        -fx-background-color: #f6f3d3;
        -fx-text-fill:#404e61;
        -fx-font-family: "Apple Chancery";
        -fx-font-size: 14px;
        -fx-font-style: oblique;

}
#chBoxTrainClass {

        -fx-background-color: #f6f3d3;
        -fx-text-fill:#404e61;
        -fx-font-family: "Apple Chancery";
        -fx-font-size: 14px;
        -fx-font-style: oblique;

}

#btnChoose {

        -fx-background-color: #6495ED;
        -fx-text-fill: #DC143C;
        -fx-font-family: "Blippo, fantasy";
        -fx-font-size: 16px;
        -fx-font-weight: bold;

}

#btnShoppingCart {

            -fx-background-color: #FAFAD2;
            -fx-text-fill: #5F9EA0;
            -fx-font-family: "Segoe UI Bold";
            -fx-font-size: 14px;
            -fx-font-weight: bold;

}


#mniMavHu {

          -fx-background-color: #FF0000;


}
#mniMavHu .label {

        -fx-text-fill: #FFFFFF;

}


#mniObbHu {

            -fx-background-color: #FFFFFF;

}

#mniObbHu .label {

            -fx-text-fill: #20B2AA;


}

#mniDbHun {

            -fx-background-color: #FFFFFF;

}

#mniDbHun .label {

            -fx-text-fill: #20B2AA;

}

#mniSbbHun {

            -fx-background-color: #008000;


}

#mniSbbHun .label {

            -fx-text-fill: #FFFFFF;

}

#mniMavDe {

        -fx-background-color: #000000;


}
#mniMavDe .label {

        -fx-text-fill: 	#FFF8DC;

}

#mniObbDe {

        -fx-background-color: #FF0000;

}

#mniObbDe .label {

        -fx-text-fill: #FFFFFF;

}

#mniDbDe {

    -fx-background-color: #FF0000;


}

#mniDbDe .label {

    -fx-text-fill: #FFFFFF;

}

#miniSbbDe {

        -fx-background-color: #FFFF00;

}

#miniSbbDe .label {

        -fx-text-fill: #008080;

}